<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Polizas 3 Feraz</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/com/feraz/polizas3/applicationContext.xml</param-value>
    </context-param>
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Processes SOAP Web Service requests -->
    <servlet>
        <servlet-name>jaxws-servlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSSpringServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSContab</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSContaElectronica</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSCFDI</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSIntercompaniasCXP</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WScfdi</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSProveedores</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSOrdenCompra</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSProductos</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WSProveedoresUni</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSContab</servlet-name>
        <url-pattern>/WSContab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSContaElectronica</servlet-name>
        <url-pattern>/WSContaElectronica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSCFDI</servlet-name>
        <url-pattern>/WSCFDI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSIntercompaniasCXP</servlet-name>
        <url-pattern>/WSIntercompaniasCXP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WScfdi</servlet-name>
        <url-pattern>/WScfdi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSProveedores</servlet-name>
        <url-pattern>/WSProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSOrdenCompra</servlet-name>
        <url-pattern>/WSOrdenCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSProductos</servlet-name>
        <url-pattern>/WSProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSProveedoresUni</servlet-name>
        <url-pattern>/WSProveedoresUni</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
                10
            </session-timeout>
    </session-config>
</web-app>
